.article-item {
  background: bisque;
  border: 1px solid gray;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: border 150ms;
  margin-bottom: 10px;

  button {
    display: inline;
    margin: 5px !important;
  }
}